.sidenav {
    position: fixed;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 700;
    width: 7.5%;
    height: 100%;
    background-color: #FDFDFD;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.50);
    border-radius: 0px 20px 20px 20px;
}

.left_container_header {
    background: #000000;
    border-radius: 0px 20px 0px 0px;
    width: 100%;
    height: 6%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#heading {
    display: none;
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFFFFF;
    position: absolute;
    left: 5px;
}



.closebtn {
    display: none;
    position: absolute;
    right: 5px;

    background-color: black !important;
    border-radius: 100%;
    cursor: pointer;
    color: white;
    font-size: 30px;
    font-weight: 700;

}



 .openbtn {
    display: block;
    position: absolute;
    right: 5px;
    background-color: black !important;
    border-radius: 100%;
    cursor: pointer;
    color: white;
    font-size: 30px;
    font-weight: 700;


}



#list {
    display: none;
    padding: 30px;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
   
}

.list_item {
    font-weight: 700;
    font-size: 20px;
   }

.box_1 {
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #0029FF;
    display: block;
}

.box_1>h1 {

    font-weight: 400;
    font-size: 20px;
    color: #0029FF;

}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}