.nav_right_container {

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15%;
  height: 45%;
  margin-right: 8%;


}

.icon_box {

  height: 100%;
  width: 15%;
  border-radius: 100%;
  background: rgba(54, 131, 240, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
