.sidenav {
    position: fixed;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 700;
    width: 10%;
    height: 60%;
    background-color: #FDFDFD;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px 20px 20px 20px;
}

.left_container_header {
    background: #000000;
    border-radius: 0px 20px 0px 0px;
    width: 100%;
    height: 10%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#heading {
    display: none;
}

.left_container_header h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    position: absolute;
    left: 5px;
}

.closebtn {
    position: absolute;
    right: 5px;
    font-size: 20px;
    font-weight: 700;
    display: none;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: fit-content;


}


.sidenav .openbtn {
    position: absolute;
    right: 5px;
    display: block;
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    color: black;
    border-radius: 100%;
    height: fit-content;
    /* display: block; */
}

#list {
    display: none;
    padding: 30px;
    text-align: left;
}

.list_item {
    font-weight: 400;
    font-weight: 600;
    color: black;
}

.box_1 {
    margin: auto;
    margin-top: 20px;
    box-sizing: border-box;
    height: 80px;
    width: 100px;
    height: fit-content;
    border: 1px solid #0029FF;
    border-radius: 20px;
    display: block;
}

.box_1>h1 {

    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #0029FF;

}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}