.nav_left_container{position: absolute;
    width: 311px;
    height: 49px;
    left: 83px;
    top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid red;
}


.logo_round{
position: absolute;
left: 0%;
right: 84.21%;
top: 0%;
bottom: 0%;
background: #0029FF;
border-radius: 100%;

}
.name_box{
display: flex;
align-items: center;
justify-content: space-between;
border: 1px solid red;
height: 100%;
width: 60%;

}
.deep {
color: #000000;
}
.thought {
   
    color: #0029FF;
    }