.middle_container {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 35px;
    padding-top: 0.3%;
    padding-left: 7%;
    padding-right: 7%;



}