.right_container {
    width: 5%;
    height: 40%;
    position: fixed;
    right: 0;
    top: 108px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px 0px 20px;

}

.right_container>div {

    width: 50%;
    height: 100%;
    background: #000000;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.icon {
    font-size: 40px;
    cursor: pointer;
}

.vertical_text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}