.collapsible {

  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  background: rgba(254, 255, 192, 0.2);

}

.arrow {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 10px;

}

.arrowup {
  border: solid black;
  border-width: 4px 0px 0px 4px;
  display: inline-block;
  padding: 3px;
  margin-right: 10px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);

}

.collapsible:after {
  content: '';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible>div {
  font-size: 16px;
  color: black;
  font-weight: 600;


}

.down::after {
  transform: rotate(180deg);
}

.active:after {
  content: "";
  transform: rotate(180deg);
}

.content {
  padding: 0 18px 18px 18px;
  /* max-height: 560px; */
  min-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.parent_box1 {

  display: flex;
  justify-content: center;
  max-width: 400px;
  padding-left: 80px;
  padding-right: 80px;
  gap: 50px;

}

.parent_box1 div {

  width: 350px;
  height: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
  background-color: #f1f1f1;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
  margin-top: 20px;


}


.sub_container>input {

  border: 0.1px solid #333333;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 100%;
  height: 60%;
  color: black;
  font-size: 14px;
  border: none;
}

.sub_container>div {
  position: relative;
  bottom: 18px;
  right: 25px;
  font-size: 14px;

}

::placeholder {
  color: black;
  opacity: 1;

  position: relative;
  bottom: 20px;
  left: 10px;
}

.second_child_div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 5px;
}

.icon_div {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
}

.third_child_div {
  display: flex;
  width: 35%;
  padding: 5px;
  height: 30px;
  gap: 20px;

}

.btn_div {
  width: 100%;
  text-align: left;
  padding: 5px;

}

.btn_div span {
  font-size: 20px;
  font-weight: 700;

}

.btn_div button {
  border: none;
  background: #0029FF;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  ;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
}

.third_child_div select {
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.last_child_div {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #f1f1f1;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
  margin-top: 20px;

}

.last_child_div>input {
  border: 0.1px solid #333333;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 100%;
  height: 60%;
  color: black;
  font-size: 14px;
  border: none;
  background-color: white;
}

.last_child_div>div {
  width: 100%;
  font-size: 14px;
  text-align: left;
  padding-left: 20px;

}